{{/* Récupération des paramètres une seule fois au début */}}
{{ $path := .Get "path" }}
{{ $items := .Get "items" }}
{{ $height := .Get "height" }}
{{ $unit := .Get "unit" }}
{{ $duration := .Get "duration" }}
{{ $images := slice }}

{{ range readDir (printf "static/%s" $path) }}
  {{ if not .IsDir }}
    {{ $images = $images | append (printf "/%s/%s" $path .Name) }}
  {{ end }}
{{ end }}

<div class="carousel" duration="{{ $duration }}">
  <ul>
    {{ range $index, $img := $images }}
    <li id="slide{{ add $index 1 }}"
        style="min-width: calc(100%/{{ $items }}); padding-bottom: {{ $height }}{{ $unit }};">
      <img src="{{ $img | absURL }}" alt="">
    </li>
    {{ end }}
  </ul>

  <ol>
    {{ range $index, $_ := $images }}
    <li><a href="#slide{{ add $index 1 }}"></a></li>
    {{ end }}
  </ol>

  <div class="prev">&lsaquo;</div>
  <div class="next">&rsaquo;</div>
</div>
