{{ partial "modelviewer-styles.html" (dict "posterID" "ModelViewer-poster" "posterURL" "/portfolio/prostetic/poster.webp") }}

<model-viewer id="ModelViewer" reveal="manual"
    src="/models/PROTHESE.glb"
    ar ar-modes="webxr scene-viewer quick-look"
    camera-controls poster="poster.webp"
    shadow-intensity="0.63" shadow-softness="0.83"
    animation-name="ArmatureAction.002"
    camera-orbit="-95.68deg 74.62deg 200m" max-camera-orbit="auto auto 300m"
    field-of-view="30deg" auto-rotate exposure="1.36">

    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>

    <button class="Hotspot" slot="hotspot-1" data-surface="1 0 13595 13013 12976 0.527 0.023 0.451"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">L2</div>
    </button>
    <button class="Hotspot" slot="hotspot-2" data-surface="2 0 4411 3738 3700 0.224 0.497 0.279"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">L1</div>
    </button>
    <button class="Hotspot" slot="hotspot-3" data-surface="3 0 1193 1198 1202 0.084 0.112 0.805"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">L4</div>
    </button>
    <button class="Hotspot" slot="hotspot-4" data-surface="0 0 7654 6128 6974 0.663 0.238 0.099"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">L3</div>
    </button>
    <button id="hotspotButton" class="HotspotAnnotation" slot="hotspot-one"
        data-position="..." data-normal="...">Animer</button>

    <div id="ModelViewer-poster" slot="poster"></div>
    <div id="button-load" slot="poster">Vue 3D</div>
</model-viewer>

<script>
  const mv = document.querySelector('#ModelViewer');
  mv.addEventListener('load', () => {
    if (mv.paused) mv.play({ repetitions: 1 });
  });
  document.querySelector('#hotspotButton').addEventListener('click', () => {
    if (mv.paused) mv.play({ repetitions: 1 });
  });
  document.querySelector('#button-load').addEventListener('click',
    () => mv.dismissPoster());
</script>
