{{ partial "modelviewer-styles.html" (dict "posterID" "lazy-load-poster" "posterURL" "/portfolio/cdr/poster.webp") }}

<model-viewer id="lazy-load" reveal="manual" disable-zoom loading="lazy"
    src="/models/Base_Roulante_V2.glb"
    ar ar-modes="webxr scene-viewer quick-look"
    camera-controls shadow-intensity="0"
    camera-orbit="-179.4deg 146.8deg 0.9606m" field-of-view="30deg" exposure="1.67">

    <button class="Hotspot" slot="hotspot-1"
        data-position="-0.02780266472108569m -0.018990535043268014m -0.39261032180950206m"
        data-normal="-0.8180993320198757m -0.5329944923086205m -0.2159406263705581m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Lidar</div>
    </button>
    <button class="Hotspot" slot="hotspot-2"
        data-position="-0.06481057975523055m -0.15035407687918087m -0.08658890840544695m"
        data-normal="-0.8342115935623374m 0.551444482397082m -6.938893903907228e-18m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Pinces flexibles</div>
    </button>
    <button class="Hotspot" slot="hotspot-3"
        data-position="-0.00016949138099907335m -0.12733264113992998m -0.2573377401459473m"
        data-normal="-6.591949208711867e-17m 0.9590812788283405m -0.2831308895210749m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Translation verticale</div>
    </button>
    <button class="Hotspot" slot="hotspot-4"
        data-position="-0.10470596409300187m -0.05738093752809475m 0.0025570252880839743m"
        data-normal="-0.4297591395972037m -0.1565235162033425m 0.8892735635382474m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Déplacement holonome</div>
    </button>
    <button class="Hotspot" slot="hotspot-6"
        data-position="0.1388546889598338m -0.08149662385238471m -0.23651337516441756m"
        data-normal="-0.866025403784436m 0.5000000000000043m -6.938893903907227e-18m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Afficheur</div>
    </button>
    <button class="Hotspot" slot="hotspot-7"
        data-position="-0.10217745737505021m -0.0615623362018726m -0.309000000052154m"
        data-normal="0m -2.2204460492503136e-16m -1m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Panneau de contrôle</div>
    </button>

    <div id="lazy-load-poster" slot="poster"></div>
    <div id="button-load" slot="poster">Vue 3D</div>
</model-viewer>

<script>
  document.querySelector('#button-load').addEventListener('click',
    () => document.querySelector('#lazy-load').dismissPoster());
</script>
